[submodule "xml-migs-and-ahbs"]
	path = xml-migs-and-ahbs
	url = https://github.com/Hochfrequenz/xml-migs-and-ahbs.git
[submodule "stammdatenmodell"]
	path = stammdatenmodell
	url = https://github.com/Hochfrequenz/stammdatenmodell.git
[submodule "example_market_communication_bo4e_transactions"]
	path = example_market_communication_bo4e_transactions
	url = https://github.com/Hochfrequenz/example_market_communication_bo4e_transactions.git
